
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

body{
  padding: 0.5em;
}

.banner{
  vertical-align: top;
  position: static;
  font-family: 'Barlow Condensed', sans-serif;
  margin-bottom: 0.4em;
}
/**
 * Form & Checkbox Styles
 */
 
 .about{
   font-size: 17px;
   margin-left: 0.05em;
   margin-right: 0.6em;
   float: left;
   position: relative;
 }
 .filter{
   font-size: 17px;
   margin-left: 0.05em;
   float: left;
   position: relative;
 }
*,*:before,*:after {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.menu {
  height:10em;
  margin: 0.1em;
  width:95%;
  float:right;
  position:relative;
  
}
/*.menu.open {
  display:block;
  width:50px;
  transition:all 0.5s ease-in-out;
}*/
.arrow {
  width:20px;
  height:20px;
  background:white;
  border:none;
  float:left;
  position:relative;
  z-index:2;
}
.arrow-hand {
  background-color:black;
  width:12px;
  height:2px;
  display:inline-block; 
  position:absolute;
  margin-top:0;
  transition:all 0.4s ease-in-out;
}
.arrow-hand.top {
  transform: rotate(45deg);
  left:5px;
}
.arrow-hand.bottom {
  transform: rotate(-45deg);
  left:16px;
}

.arrow.cross .arrow-hand {
  transition:all 0.4s ease-in-out;
  
}
.arrow.cross .arrow-hand.top {
  transform: rotate(-45deg);
}
.arrow.cross .arrow-hand.bottom {
  transform: rotate(45deg);
}

h4 {
  font-weight: 100;
  margin-bottom: .5em;
}

label {
  font-weight: 100;
}

input[type="text"] {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  border: 1px solid transparent;
  padding: .5em;
  border-radius: 2px;
}

input[type="text"]:focus {
  outline: 0 none;
  border-color: white;
}

td{
  padding:0.35em;
}



button {
  display: inline-block;
  vertical-align: top;
  padding: .4em .8em;
  margin: 0;
  background: white;
  border: 0;
  color: black;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}

button:focus {
  outline: 0 none;
}

.controls {
  background: white;
  padding: 2%;
}

fieldset {
  display: inline-block;
  vertical-align: top;
  margin: 0 1em 0 0;
  padding: .5em;
  border-radius: 3px;
}

.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 8px;
}

.checkbox input[type="checkbox"] {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  margin: 0;
  opacity: 0;
  z-index: 1;
}

.checkbox label {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-left: 1.5em;
}

.checkbox label:before,
.checkbox label:after {
  content: '';
  display: block;
  position: absolute;
}

.checkbox label:before {
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  border-radius: 3px;
}

.checkbox label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background: black;
  opacity: 0;
  pointer-events: none;
}

.checkbox input:checked~label:after {
  opacity: 1;
}

.checkbox input:focus~label:before {
  background: #eee;
}

.lit_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40vh;
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
}
.container {
  position: static;
}

.container .mix {
  display: none;
}

#c1 {
  background-color: #cc334d;
}
#c2 {
  background-color: #9485e0;
}
#c3 {
  background-color: #85e0b3;
}
#c4 {
  background-color: #e0b152;
}
#c5{
  background-color: #31466D;
}
#c9{
  background-color:pink;
}
#c10{
  background-color:pink;
}
.card {
  display: block;
  width: 18vw;
  height: 8vw;
  overflow: hidden;
}
.card .open {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #fff;
}
.card .content {
  width: 100%;
  height: 100%;
  padding: 3em;
}
.card .content p {
  max-width: 66%;
  columns: 2;
  column-gap: 2em;
  line-height: 1.6;
}
.card .close {
  color: #fff;
  text-decoration: none;
}
.card:target {
  position: absolute;
  top: 2em;
  right: 0.5em;
  animation: move .5s linear;
  animation-fill-mode: forwards;
  z-index: 999;
}
.card:target .open {
  opacity: 0;
  height: 0;
  transition: opacity .5s,
        height .5s .5s;
}
@keyframes move {
  100% {
    width: 98.6%;
    height: 100%;
  }
}
